<div class="row">
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h1>                        
                    <span class="glyphicon glyphicon-map-marker"></span>Contact
                </h1>
            </div>
            <div class="panel-body">
                <h3>Lending Hand</h3>
                <h4>Agraharpeta</h4>
                <h4>Naidupeta</h4>
                <h4>SPSR Nellore</h4>
                <h4>Andhra Pradesh - 524126</h4>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h1>                        
                    <span class="glyphicon glyphicon-envelope"></span>
                    <span>Email</span>
                </h1>
            </div>
            <div class="panel-body">
                <a href="mailto:lendinghand@gmail.com?subject=inquiry"><h4>lendinghand@gmail.com</h4></a>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h1>                        
                    <span class="glyphicon glyphicon-phone-alt"></span>Telephone
                </h1>
            </div>
            <div class="panel-body">
                <a href="tel:+91-819-797-3806"><h4>(+91) 819-797-3806</h4></a>
            </div>
        </div>
    </div>
</div>
