<html>

<head>
    <meta charset="utf-8">
    <title>angular carousel</title>
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">

    <link rel="stylesheet" href="../css/vertical.css">
    <link rel="stylesheet" href="../css/angular-carousel.css">
</head>

<body>
    <div class="wrapper">
        <div class="container" ng-controller="AppCtrl">
            <carousel content="somecontent" options="{ buffer: 5, hint: 50 }"></carousel>
        </div>
    </div>

    <script src="../js/lib/angular.min.js"></script>
    <script src="../js/lib/angular-animate.js"></script>
    <script src="../js/lib/angular-carousel.js"></script>
    <script>
        (function() {

            angular.module('App', ['angular-carousel'])
                .controller('AppController', ['$scope', '$timeout',
                    function($scope, $timeout) {
                        $scope.somecontent = {
                            template: './gallery.html',
                            count: 10
                        };
                    }
                ]);

        })();

    </script>
</body>

</html>
